<h1><%= @dog.name %></h1>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %> </p>
<% @employees.each do |employee| %>
  <li><%= link_to employee.full_name, employee_path(employee) %></li>
<% end %>