/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

#bg {
  background-image: image-url('background-img-2.jpg');
  background-repeat: repeat;
  background-size: 100%;
  height: 100%;
  text-align: center;
}

#logo {
  height: 350px;
  width: auto;
}

#myCarousel {
  height: 550px;
  background-color: rgba(40, 44, 72, 0.7);
}

#myCarousel img {
  margin-top: 25px;
  height: 400px;
  // width: 500px;
}

// .item {
//   height: 300px;
//   width: 300px;
//   overflow: hidden;
//   position: relative;
// }

.carousel-inner {
  text-align: center;
  display: flex;
  justify-content: center;
}
