




<%= image_tag "dunder_mifflin_logo.svg", id: "logo" %>

<h3>Employees</h3>
<h3>Pets</h3>


<%= link_to "Employees", employees_path %>
<a href="/employees"><button type="button" class="btn btn-primary">Employees</button></a>
